/**
 * Component:	Variables
 * Description:	Define all variables
 * Time: 2018-11-13
*/
//======== 【Prefix】 ========
@import './color.scss';
@import './font.scss';

$prefix: 'fx';

$base-z-index: 1500;
// $page-color: rgb(246,247,250);
$page-color: #ffffff; 
$page-color-2: rgb(246,247,250);