@import '../../assets/scss/variables.scss';
.t-list-title{
  padding: 0.5em;
  position: relative;
  .decorate{
    position: absolute;
    left: 0.5em;
    top: 50%;
    display: inline-block;
    width: 6rpx;
    height: 1em;
    background-color: $default-color;
    transform: translateY(-50%);
  }
  .title{
    display: inline-block;
    padding-left: 1em;
    font-size: 12pt;
  }
}